{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "dynamicImport": true
        },
        "target": "es2015",
        "baseUrl": "./"
    },
    "module": {
        "type": "commonjs",
        "ignoreDynamic": true
    },
    "exclude": [
        "src/client",
        "node_modules",
        ".*\\.spec.ts$",
        ".*\\.test.ts$"
    ]
}